<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Resnytskyi | Lawyer</title>
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@600&family=Nunito:wght@300&display=swap"
          rel="stylesheet">
    
    <link rel="icon" href="images/page-logo.png"/>

    <link rel="stylesheet" href="~/lib/uikit/css/uikit.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-QMLVY2JE3S"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
             dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'G-QMLVY2JE3S');
    </script>
</head>
<body>
<div class="container">
    @RenderBody()
</div>

<script src="~/lib/uikit/js/uikit.js"></script>
<script src="~/lib/uikit/js/uikit-icons.js"></script>

</body>
</html>